/*
Theme Name: Clean Simple White
Description: It is a very clean and simple theme for Your WordPress site.
Version: 1.1
Author: Mazznoer
Author URI: http://mazznoer.web.id/
Tags: white, light, two-columns, right-sidebar, theme-options, fixed-width, sticky-post

This theme is released under GPL: http://www.gnu.org/licenses/gpl.html

If you remix, convert, translate, modify, or distribute a copy of this theme, please keep the links/credit in the footer.
*/

/* ----------------
	Reset
----------------------------------- */

html, body, div, span, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, p, blockquote, th, td {margin:0;padding:0;border:0;outline:0;font-size:12px;}
table {border-collapse:collapse;border-spacing:0;}
fieldset, img {border:0;}
address, caption, cite, code, dfn, th, var, h1, h2, h3 {font-style:normal;font-weight:normal;}
ol, ul {list-style:none;}
caption, th {text-align:left;}
q:before, q:after {content:'';}
a img {border: none;}

/* ---------------
	Basic Elements
---------------------------------- */

body {
    background: #fcfcfc;
    color: #444;
    font-family: verdana;
    font-size: 0.8em;
    line-height: 22px;
}

a:link, a:visited {color: #3366bb; text-decoration: none;}
a:hover {text-decoration: underline;}

h1, h2, h3, h4 {font-family: 'trebuchet ms'; font-weight: normal;}
h1 {font-size: 3.0em; line-height: 50px;}
h1 a:hover, h2 a:hover {color: #c00; text-decoration: none;}
h2 {
    font-size: 2.0em;
    letter-spacing: -1px;
}
h3 {font-size: 1.5em;}
h4 {
    font-size: 1.5em;
}

#main-content ul , #main-content ol {margin: 10px 0 10px 15px;}
#main-content ul li {list-style-type: square;}
#main-content ol li {list-style-type: decimal;}
#main-content li li {margin-left: 25px;}
#main-content p {margin: 10px 0;}

#sidebar ul, #footer ul {margin-left: 15px;}
#sidebar ul li, #footer ul li {
    border-bottom: 1px dashed #ccc;
    line-height: 27px;
    list-style-type: circle;
}

#sidebar ul li a:link, #sidebar ul li a:visited,
#footer ul li a:link, #footer ul li a:visited {color: #36b;}
#sidebar ul li a:hover, #footer ul li a:hover {color: #c00; text-decoration: none;}

input, textarea {background: #f5f5f5; border: 1px solid #bbb; color: #000; margin: 10px 0; padding: 7px 10px;}
input#searchsubmit, input#submit {background: #ddd; border: 1px solid #999; color: #555; padding: 6px 10px;}
textarea#comment {width: 525px;}

/* ---------------
	Generic Classes
---------------------------------- */

.clear {clear: both;}
.center {text-align: center;}
.hidden {display: none;}
.justify {text-align: justify;}
.post-spt {border-top: 1px dashed #ccc; margin-bottom: 15px;}
.post-meta {background: #eee; margin: 10px 0; padding: 2px 10px;}
.post-tag {margin: 10px 0;}
.sticky {background: #f6f6f6; border: 1px solid #ccc; margin: -10px -10px 10px -10px; padding: 0 10px;}
.sticky .post-meta {border: 1px solid #bbb;}
p.page-link span {border: 1px solid #ccc; padding: 3px 8px;}
p.page-link a:hover {text-decoration: none;}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

/* ----------------
	Basic Layout
---------------------------------- */

#wrapper {text-align: center;}
#container {
    background: #fcfcfc;
    border-width: 0 0px;
    border-style: solid;
    border-color: #ddd;
    margin: 1px auto;
    text-align: left;
    width: 940px;
}
#header {padding: 20px;}
#head-nav {margin: 0 10px; border-bottom: 1px dashed #bbb; border-left: 1px solid #bbb;}
#main-content {
    border: 1px solid #ccc;
    float: left;
    margin: 10px;
    padding: 20px;
}

#main-content.column2 {
    width: 650px;
}
#main-content.column1 {
    width: 880px;
}
#sidebar {
    border: 0px solid #aaa;
    float: right;
    margin: 10px 0;
    padding: 0px 20px 20px 0;
    width: 200px;
}
#footer {padding: 10px 20px;}
#foot-1, #foot-2, #foot-3 {width: 290px; border: 0px solid #bbb;}
#foot-1, #foot-2 {float: left;}
#foot-right, #foot-3 {float: right;}
#foot-2 {margin: 0 15px;}
#footer-credit {line-height: 28px; margin: 10px 20px;}
#footer-desc {border-top: 1px dashed #ccc; font-style: italic; text-align: right;}

/* ----------------
	Head Nav
---------------------------------- */

ul#nav li {
    float: left;
    border-right: 1px solid #bbb;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    margin-bottom: 10px;
}
ul#nav li a, ul#nav li a:visited {
    color: #444;
    display: block;
    font-size: 1.0em;
    font-weight: normal;
    line-height: 30px;
    padding: 0 15px;
}
ul#nav li a:hover {background: #f2f2f2; text-decoration: none;}
ul#nav li ul {display: none;}
ul#nav li:hover ul {
    background: #f8f8f8;
    border: 1px solid #aaa;
    display: block;
    position: absolute;
}
ul#nav li ul li {
    border-bottom: 1px solid #ccc;
    border-right: 0;
    border-top: 0;
    float: none;
    margin-bottom: 0;
}
ul#nav li ul li a:link, ul#nav li ul li a:visited {
    font-family: verdana;
    font-size: 0.9em;
    font-weight: normal;
    line-height: 25px;
    margin: 4px;
    min-width: 122px;
}
ul#nav li ul li a:hover {background: #eee;}
#head-nav ul#nav li ul li ul {display: none;}
#head-nav ul#nav li ul li:hover ul {
    display: block;
    margin: -34px 0 0 160px;
}

/* ----------------
	Page Nav and More Link
---------------------------------- */

.older a:link, .older a:visited {float: left;}
.newer a:link, .newer a:visited {float: right;}
.page-nav {margin-top: 10px;}

a.more-link:link, a.more-link:visited {
    float: right;
    margin-bottom: 10px;
}

/* ----------------
	Miscelaneous
---------------------------------- */

blockquote {
    border-left: 2px solid #ccc;
    color: #888;
    margin: 15px 0 15px 60px;
    padding-left: 10px;
}
code {color: #B03535;}
pre, code {font-size: 1.3em; margin: 15px 0;}

/* ----------------
	Widget
---------------------------------- */

.widget {margin-bottom: 15px;}
.widget_author img {border: 1px solid #ccc; float: left; margin-right: 10px; padding: 5px;}
#sidebar .widget h4 {border-bottom:2px solid #ccc;}
#sidebar .widget ul.menu {margin-left:5px;}
#sidebar .widget ul.menu li {list-style: none;}
#sidebar .widget ul.menu li a {display:block;}
.search-box {border: 1px solid #ccc; padding: 0 10px; text-align: center;}

table#wp-calendar {text-align: center;}
table#wp-calendar caption {font-size: 1.5em; margin-bottom: 10px; text-align: center;}
table#wp-calendar thead tr th {background: #eee; border: 1px solid #ccc; font-weight: bold; padding: 4px 13px;}
table#wp-calendar td {border: 1px solid #ccc; padding: 4px 13px;}
#today {background: #eee;}

a.follow:link, a.follow:visited {
    display: block;
    background: #eee;
    font-weight: bold;
    margin-top: 15px;
    padding: 5px 10px;
    text-align: center;
}

/* ----------------
	Images and Captions
---------------------------------- */

img.centered {display: block; margin: 10px auto;}
img.alignright {padding: 4px; margin: 0 0 2px 7px; display: inline;}
img.alignleft {padding: 4px; margin: 0 7px 2px 0; display: inline;}

.wp-caption {border: 1px solid #ccc; padding-top: 4px; text-align: center; margin: 10px;}
.wp-caption img {margin: 0; padding: 0;}
.wp-caption p.wp-caption-text {margin: 0; line-height: 17px;}

/* ---------------
	Comment List
---------------------------------- */
#main-content ol.commentlist {margin-left: 0px;}
#main-content ol.commentlist li {
    border: 1px solid #bbb;
    list-style: none;
    margin: 15px 0;
    padding: 10px;
}
li.odd {background: #f8f8f8;}
.commentlist li img.avatar {border: 1px solid #aaa; width: 32px; height: 32px;}
#main-content ul.children li {margin-left: 70px;}
.comment-author {background: #eee;}
.comment-meta {border-bottom: 1px solid #ddd; text-align: right;}
.comment-reply-link, #cancel-comment-reply-link {border: 1px solid #aaa; padding: 3px 10px;}

#main-content .tab {padding:0px; margin:0px;}
#main-content .tab ul.tabs{padding: 0px;margin: 0px;border-bottom: 1px solid #bbb;}
#main-content .tab ul.tabs li{list-style: none;margin: 0px;display: inline;padding:0px;}
#main-content .tab ul.tabs a{padding: 5px 15px;
                             margin: 0px 0px 0px 0px;border: 1px solid #bbb;
                             border-bottom: none;text-decoration: none;}

#main-content .tab ul.tabs a:link{color: #667;}
#main-content .tab ul.tabs a:visited{color: #667;}
#main-content .tab ul.tabs a:hover{color: #000;background: #f8f8f8;border-color: #000;}
#main-content .tab ul.tabs a.active{background: #fff;border-bottom: 1px solid white;color:#000}
#main-content .tab div.view{border-left: 1px solid #bbb;border-right: 1px solid #bbb;border-bottom: 1px solid #bbb;padding: 8px;margin: 0px;}

#main-content div.errorSummary {padding:3px 5px;border:1px solid #ff0000;color:#000;background:#ffcccc;}
#main-content div.errorSummary p{font-size:0.8em;margin:0px 0px 0px 0px;}
#main-content div.errorSummary ul {margin:0px;padding:0px;padding-left:15px;}
#main-content div.errorSummary ul li{font-size:0.8em;line-height:15px;}
#main-content div.errorMessage {padding:3px 5px;border:1px solid #ff0000;color:#000;background:#ffcccc;}
#main-content div.errorMessage p{font-size:0.8em;margin:0px 0px 0px 0px;}
#main-content div.errorMessage ul {margin:0px;padding:0px;padding-left:15px;}
#main-content div.errorMessage ul li{font-size:0.8em;line-height:15px;}
#main-content input.error {border:1px solid red;}

/* ----------------
	User Widget
---------------------------------- */
#user-widget {border:1px solid #bbb;min-height:100px;margin-bottom: 15px;padding:3px 15px 5px 15px;}
#user-widget #name a {font-weight:bold;}
#user-widget #avatar {width:60px;float:right;}
#user-widget #menu {width:95px;float:left;}
#user-widget #menu ul.menu {padding:0px;margin:0px;}
#user-widget #menu ul.menu li {list-style-type: none;margin:0px;padding:0px;line-height:15px;border:none;text-align:right;}
#user-widget #menu ul.menu li a {font-size:0.8em;padding:0px;margin:0px;line-height:15px;}

#content-nav-wrapper {clear:both;border-left: 1px solid #bbb;border-bottom: 1px dashed #bbb;margin:0px 0px 15px 0px;padding:0px;line-height: 30px;}
#content-nav-wrapper .spacer {clear:both;}
#content-nav-wrapper ul.content-nav {clear:both;list-style-type:none;margin:0px;padding:0px;}
#content-nav-wrapper ul.content-nav li {float: left;border-right: 1px solid #bbb;border-top: 1px solid #bbb;border-bottom: 1px solid #bbb;margin-bottom: 10px;list-style-type:none;}
#content-nav-wrapper ul.content-nav li a, #content-nav-wrapper ul.content-nav li a:visited {color: #444;display: block;font-size: 1.0em;font-weight: normal;line-height: 30px;padding: 0 15px;}
#content-nav-wrapper ul.content-nav li a:hover {background: #f2f2f2; text-decoration: none;}
#content-nav-wrapper ul.content-nav li ul {display: none;}
#content-nav-wrapper ul.content-nav li:hover ul {background: #f8f8f8;border: 1px solid #aaa;display: block;position: absolute;}
#content-nav-wrapper ul.content-nav li ul li {border-bottom: 1px solid #ccc;border-right: 0;border-top: 0;float: none;margin-bottom: 0;}
#content-nav-wrapper ul.content-nav li ul li a:link, ul.content-nav li ul li a:visited {font-family: verdana;font-size: 0.9em;font-weight: normal;line-height: 25px;margin: 4px;min-width: 122px;}
#content-nav-wrapper ul.content-nav li ul li a:hover {background: #eee;}

#main-content div.dtable {display:table;}
#main-content div.dtable div.drow {display:table-row;}
#main-content div.dtable div.drow span {display:table-cell;padding:3px 7px 3px 7px;}
#main-content div.dtable div.drow span.shead {font-weight:bold;text-align:right;vertical-align:top;padding-top:2px;}
#main-content div.dtable div.drow span input {margin:0px;}
#main-content div.dtable div.drow span input[type=text] {padding:3px 3px;}
#main-content div.dtable div.drow span input[type=password] {padding:3px 3px;}
#main-content div.dtable div.drow span textarea {padding:3px 3px;}
#main-content div.dtable div.drow span select {padding:3px 3px;}

div.button {border: 1px solid #bbb}
div.button:hover {}
div.button a {color: #444;display: block;font-size: 1.0em;font-weight: normal;line-height: 30px;padding: 0 15px;}
div.button a:hover {background: #f2f2f2; text-decoration: none;}

.pager {}
.pager ul.yiiPager{font-size:11px;border:0;margin:0;padding:0;line-height:100%;display:inline;}
.pager ul.yiiPager li{display:inline;}
.pager ul.yiiPager a:link,
.pager ul.yiiPager a:visited{border:solid 1px #000;font-weight:bold;color:#444;padding:1px 6px;text-decoration:none;}
.pager ul.yiiPager .page a{font-weight:normal;}
.pager ul.yiiPager a:hover{border:solid 1px #888888;}
.pager ul.yiiPager .selected a{background:#a0a0a0;color:#fff;font-weight:bold;}
.pager ul.yiiPager .hidden a{border:solid 1px #DEDEDE;color:#888888;}
.pager ul.yiiPager .first, ul.yiiPager .last{display:none;}