<div class="problem">
  <h1 class="title" style="text-align: center;">Title</h1>
  <div>
    <table border="1" cellpadding="3" cellspacing="0" class="data_table" style="margin: 0px auto 15px; width: 150px;">
      <tbody>
        <tr>
          <td>Batas Waktu</td>
          <td>&#160;</td>
        </tr>
        <tr>
          <td>Batas Memori</td>
          <td>&#160;</td>
        </tr>
      </tbody>
    </table>
    <h3>Deskripsi</h3>
    <p>Letakkan deskripsi di sini</p>
    <h3>Format Masukan</h3>
    <p>Letakkan deskripsi di sini</p>
    <h3>Format Keluaran</h3>
    <p>Letakkan deskripsi di sini</p>
    <h3>Contoh Masukan</h3>
    <pre>Letakkan kode di sini</pre>
    <h3>Contoh Keluaran</h3>
    <pre>Letakkan kode di sini</pre>
    <div style="border: 1px solid #ADC; background-color: #0CC; padding: 5px; margin-bottom: 10px;">
        <h3>Penjelasan</h3>
        <p>letakkan penjelasan disini</p>
    </div>
    <div style="border: 1px solid #FC0; background-color: #FFC; padding: 5px; margin-bottom: 10px;">
        <h3>Subtask</h3>
        <p>letakkan subtask disini</p>
    </div>
    <div style="border: 1px solid #D22; background-color: #F50505; padding: 5px; margin-bottom: 10px;">
        <h3>Peringatan</h3>
        <p>letakkan subtask disini</p>
    </div>
  </div>
</div>
