<div class="problem">
  <h1 class="title" style="text-align: center;">Title</h1>
  <div>
    <table border="1" cellpadding="3" cellspacing="0" class="data_table" style="margin: 0px auto 15px; width: 150px;">
      <tbody>
        <tr>
          <td>Time limit</td>
          <td>&#160;</td>
        </tr>
        <tr>
          <td>Memory limit</td>
          <td>&#160;</td>
        </tr>
      </tbody>
    </table>
    <h3>Description</h3>
    <p>Put your description here</p>
    <h3>Input Format</h3>
    <p>Put your description here</p>
    <h3>Output Format</h3>
    <p>Put your description here</p>
    <h3>Sample Input</h3>
    <pre>Put your code here</pre>
    <h3>Sample Output</h3>
    <pre>Put your code here</pre>
  </div>
</div>
