/* globals */
html					{ height: 100%; min-height: 100%; margin: 0; padding: 0; }
body					{ background-color: #F0F0F0; color: #333; font: 12px 'Lucida Grande',Arial,Helvetica,sans-serif; height: 100%; min-height: 100%; }

h1, h2, h3, h4, h5, h6	{ font-weight: bold; color: #1E1B1A; }

.clearfix:after			{ clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden; }
.clearfix				{ display: inline-block; }
html[xmlns] .clearfix	{ display: block; }
* html .clearfix		{ height: 1%; }

:focus					{ -moz-outline-style: none; }

a, a:link, a:visited	{ color: #0052A3; text-decoration: underline; }
a:hover					{ color: #1A8DFF; }

p						{ line-height: 1.5em; margin: 0 0 1.25em; }
blockquote				{ border-left: 2px solid #CCC; color: #666; padding: 5px 10px 1px; font-style: normal; }
blockquote p:last-child	{ margin: 0 0 5px; }
code					{ background: #EAEAEA; color: #333; font-family: Consolas, Monaco, Courier, monospace; font-size: 11px; margin: 1px 0; padding: 1px 3px; }
pre code				{ background: #322E2C; border: 1px solid #635957; color: #FFF; display: block; overflow: scroll; padding: 1.5em 1.75em; }

input[type=text], input[type=password], textarea	{ background: url(../../images/form.jpg) repeat-x top #FFF; border: 1px solid #CCC; padding: 3px; }
input[type=submit], #wp-email-submit    { font-family: 'Lucida Grande', Arial, Helvetica, sans-serif; background: url(../../images/feed-title-white.jpg) repeat-x; border: 1px solid #CCC; padding: 5px 10px; font-size: 12px; color: #000; font-weight: bold; }
input[type=submit]:hover, #wp-email-submit:hover    { background: #314E6A; color: #FFF; }

table					{ border-collapse: collapse; border-spacing: 0; border: 1px solid #CCC; }
th, td					{ padding: 5px; border: 1px solid #CCC; border-width: 1px; }
th, thead th			{ font-weight: 700; color: #333; background: #DDD; }
td, tbody td			{ background: #F0F0F0; }

/* common classes */
.aligncenter			{ display: block; margin: 0 auto; }
.alignright				{ float: right; margin: 0 0 1em 1em; }
.alignleft				{ float: left; margin: 0 1em 1em 0; }
.floatleft				{ float: left; }
.floatright				{ float: right; }
img.aligncenter, img.alignright, 
img.alignleft			{ border: 3px solid #EEE; }

.textcenter				{ text-align: center; }
.textright				{ text-align: right; }
.textleft				{ text-align: left; }

.noticebox				{ background-color: #fff9d7; border: 1px solid #e2c822; color: #333; margin-bottom: 20px; padding: 10px; }
.noticebox a			{ color: #000; }

.sub					{ font-size: 11px; color: #848485; }

.ui-tabs-hide, .hide	{ display: none !important; }

.wp-caption { border: 1px solid #DDD; text-align: center; background: #F3F3F3; padding-top: 4px; margin: 10px }
.wp-caption img { margin: 0; padding: 0; border: none }
.wp-caption .wp-caption-text { font-size: 11px; line-height: 17px; padding: 0 4px 5px; margin: 0 }

.tags a:link, .tags a:visited	{ text-decoration: none; font-weight: 700; padding: 0 5px 3px; line-height: 1.3em; display: inline-block; }
.tags a:hover					{ text-decoration: underline; }

.xoxo					{ padding: 0; }
.arras					{ color: #383332 !important; }

/* structure */
#wrapper				{ min-height: 100%; position: relative; padding: 20px 0; }
#main					{ padding: 10px 10px 0; }
/*#main { background: url(../../images/12_col.gif); } */

/* header */
#header					{ background: #1e1b1a; border-bottom: 5px solid #383332; padding: 0; }
#branding				{ width: 980px; margin: 0 auto; padding: 0 0 20px; }
.logo					{ max-width: 590px; float: left; margin: 21px 0 0 10px; }
.blog-name				{ font-family: 'Segoe UI', Arial, Helvetica, sans-serif; font-size: 22px; margin: 0 0 3px; line-height: 1em; display: block; text-transform: uppercase; letter-spacing: 1px; font-weight: bold; }
.blog-name a:link, .blog-name a:visited	{ color: #FFF; text-decoration: none; }
/*.blog-name a:link, .blog-name a:visited	{  text-indent: -9000px; background: url(../../images/icons/logo.png) no-repeat; width: 450px; height: 22px; display: block; }*/
.blog-description		{ font-family: 'Segoe UI', Arial, Helvetica, sans-serif; line-height: 1em; display: block; font-size: 11px; font-weight: bold; color: #7d716d; margin: 0; padding: 3px 0 0; text-transform: uppercase; zoom: 1; *display: inline; }

/* navigation */
#nav					{ zoom: 1; max-height: 35px; background: url(../../images/postbar.jpg) repeat-x top #e5e5e5; border: 1px solid #CCC; }
#nav-content			{ margin: 0 auto; width: 978px; }

.sf-menu				{ font-weight: bold; max-width: 770px; }
.sf-menu, .sf-menu ul	{ float: left; list-style: none; line-height: 31px; padding: 0 0 2px; margin: 0; height: 31px; }
.sf-menu a				{ display: block; text-decoration: none; padding: 1px 12px; color: #777; font-size: 11px; text-transform: uppercase;  }
.sf-menu a:hover		{ color: #000; }
.sf-menu li.sfhover, .sf-menu li:hover { background: url(../../images/content-bg.jpg) repeat-x top #FFF; }
.sf-menu li				{ float: left; padding: 0; }
.sf-menu ul				{ position: absolute; left: -999em; height: auto; width: 150px; margin: 0 0; line-height: 1; border: none; }
.sf-menu li li			{ width: 148px; }
.sf-menu li li a		{ background: #FFF; padding: 7px 10px; width: 128px; font-size: 12px; text-transform: none; }
.sf-menu li ul ul		{ margin: -25px 0 0 148px; }
.sf-menu li:hover ul ul, .sf-menu li:hover ul ul ul, .sf-menu li:hover ul ul ul ul, .sf-menu li.sfhover ul ul, .sf-menu li.sfhover ul ul ul, .sf-menu li.sfhover ul ul ul ul { left: -999em; }
.sf-menu li:hover ul, .sf-menu li li:hover ul, .sf-menu li li li:hover ul, .sf-menu li li li li:hover ul, .sf-menu li.sfhover ul, .sf-menu li li.sfhover ul, .sf-menu li li li.sfhover ul, .sf-menu li li li li.sfhover ul { left: auto; z-index: 2; }
.sf-menu li ul li:hover a, .sf-menu li ul li li:hover a, .sf-menu li ul li li li:hover a, .sf-menu li ul li li li:hover a { background: #fff; color: #777; }
.sf-menu li:hover li a, .sf-menu li li:hover li a, .sf-menu li li li:hover li a, .sf-menu li li li li:hover li a { background: #f5f5f5; color: #666; font-size: 11px; }
.sf-menu .sf-with-ul	{ padding-right: 15px; }
.sf-sub-indicator		{ background: url(../../images/dropdown_dark.png) no-repeat; width: 5px; height: 5px; text-indent: -9999px; display: inline-block; position: relative; left: 7px; top: 0; vertical-align: middle; }

.quick-nav				{ float: right; list-style: none; margin: 0; padding: 0; }
.quick-nav li			{ padding: 7px 5px 0 0; float: left; display: inline; }
.quick-nav a:link, .quick-nav a:visited	{ display: block; text-indent: -9000px; width: 16px; height: 16px; float: left; clear: left; }

.quick-nav #rss			{ background: url(../../images/rss.png) no-repeat; }
.quick-nav #twitter		{ background: url(../../images/twitter.png) no-repeat; }
.quick-nav #facebook	{ background: url(../../images/facebook.png) no-repeat; }

/* search bar */
#searchbar				{ float: right; overflow: hidden; margin: 25px 0 0; }
.searchform .s			{ font-family: 'Lucida Grande', Arial, Helvetica, sans-serif; font-size: 14px; border: 1px solid #CCC; background: #FFF; padding: 6px 3px 5px; margin: 1px 5px 0 0; float: left; width: 250px; }
.searchform .searchsubmit { float: left; cursor: pointer; border: 1px solid #333; background: url(../../images/postbar-black.gif) repeat-x; color: #FFF; }
.searchform .searchsubmit:hover { background: #FFF; color: #383332; }

/* sidebar */
.sidebar .xoxo			{ list-style: none; padding: 0; margin: 0; }
.widgetcontainer ul, .widgetcontent .xoxo, .widgetcontainer ol	{ list-style: disc; margin: 0 0 0 15px; padding: 0; }
.widgetcontainer li		{ margin: 3px 0; }
.widgetcontainer li a:visited, .widgetcontainer li a:link	{ text-decoration: none; font-weight: bold; font-size: 12px; }
.widgetcontainer li a:hover	{ border-bottom: 1px dotted #635957; }
.widgetcontainer input[type=text], .widgetcontainer input[type=password]	{ width: 80%; }
.widgetcontainer .excerpt	{ font-size: 11px; margin: 5px 0; }
.widgetcontainer .searchform .searchsubmit { margin: 5px 0 0; }
.widgettitle			{ color: #333; font-size: 12px; font-weight: bold; margin: 0; padding: 6px 10px; background: url(../../images/feed-title-white.jpg) repeat-x top #EFEFEF; border: 1px solid #CCC; }
.widgettitle a			{ color: #333; }
.widgetcontent			{ border: solid #CCC; border-width: 0 1px 1px; background: url(../../images/content-bg.jpg) top repeat-x #FFF; margin-bottom: 10px; padding: 10px; line-height: 1.4em; }

.attachment-sidebar-thumb, .multi-sidebar .recentcomments .avatar	{ float: left; border: 3px solid #CCC; width: 36px; height: 36px; margin: 0 10px 0 0; }
.sidebar-read-more:link, .sidebar-read-more:visited	{ font-size: 11px !important; text-transform: uppercase; font-weight: bold; color: #000; }

.multi-sidebar .tabs	{ list-style: none; margin: 0 0 5px; padding: 0; overflow: hidden; }
.multi-sidebar .tabs li	{ float: left; background: #0052A3; padding: 5px; margin: 0 3px 5px 0; border: 1px solid #CCC; }
.multi-sidebar .tabs a:link, .multi-sidebar .tabs a:visited	{ text-decoration: none; font-weight: bold; color: #FFF; }
.multi-sidebar .tabs a:hover	{ border-bottom: 1px dotted #FFF; }
.multi-sidebar .tabs .ui-tabs-selected	{ background: #FFF; }					
.multi-sidebar .tabs .ui-tabs-selected a:link, .multi-sidebar .tabs .ui-tabs-selected a:visited	{ color: #37322F; }			
.multi-sidebar .widgetcontainer	{ background: url(../../images/content-bg.jpg) top repeat-x #FFF; border: 1px solid #CCC; margin-bottom: 10px; padding: 10px; }
.multi-sidebar .widgetcontainer ul, .featured-stories, .related-posts	{ list-style: none !important; margin: 0 0 0 5px !important; }
.multi-sidebar .widgetcontainer li, .featured-stories li,  .related-posts li	{ padding: 0 0 10px; margin: 0 0 10px; border-bottom: 1px dotted #CCC; }
.multi-sidebar .recentcomments .author	{ font-weight: normal; font-size: 11px; }

#wp-calendar			{ width: 100%; border: 1px solid #999; }
#wp-calendar caption	{ color: #333; font-size: 12px; font-weight: 700; margin: 0; padding: 5px 9px; background: url(../../images/feed-title-white.jpg) repeat-x top #EFEFEF; border: 1px solid #CCC; }

/* featured slideshow */
.featured				{ margin: 0 10px 20px 0; overflow: hidden; }
#controls				{ position: relative; float: left; z-index: 100; top: 90px;  }

#controls .next, #controls .prev	{ text-indent: -9000px; width: 30px; height: 30px; display: block; z-index: 1000; opacity: 0.7; }
#controls .prev			{ background: url(../../images/prev.png) no-repeat; float: left; position: absolute; left: 5px; }
#controls .next			{ background: url(../../images/next.png) no-repeat; float: right; position: absolute; left: 605px; }
#controls .next:hover, #controls .prev:hover	{ opacity: 1; }
#controls a:focus		{ outline: none; }

#featured-slideshow		{ position: relative; z-index: 0 !important; border: 5px solid #CCC; }			

.featured-article		{ display: block; width: 640px; height: 250px; text-decoration: none !important; background-position: center !important; }
.featured-article img	{ width: 640px; height: 250px; }
.featured-entry			{ position: relative; top: -85px; overflow: hidden; background: #000; height: 85px; color: #a7a7a7; padding: 0; display: block; opacity: 0.8; filter: alpha(opacity = 80); }
.featured-entry .entry-title	{ color: #FFF; padding: 10px 15px 5px; display: block; font-size: 18px; font-weight: bold; }
.featured-entry .entry-summary	{ padding: 0 15px; margin: 0; display: block; }

/* bottom content */
#bottom-content-1, #bottom-content-2	{ list-style: none; float: left; width: 320px; margin: 10px 10px 10px 0; overflow: hidden; padding: 0; }
#bottom-content-1 .xoxo, #bottom-content-2 .xoxo	{ margin: 0; }
#bottom-content-1 * .xoxo, #bottom-content-2 * .xoxo{ margin-left: 15px; }
#bottom-content-1 .widgettitle, #bottom-content-2 .widgettitle	{ background: #F0F0F0; }

.layout-3c-r-fixed #bottom-content-1, .layout-3c-r-fixed #bottom-content-2, .layout-3c-fixed #bottom-content-1, .layout-3c-fixed #bottom-content-2	{ width: 243px; }

/* latest headlines */
.posts-default, .posts-quick, .posts-line	{ list-style: none; margin: 0 0 20px; padding: 0; overflow: hidden; }
.posts-default .post	{ float: left; margin: 0 8px 8px 0; font-size: 12px; padding: 5px 2px 10px; background: url(../../images/content-bg.jpg) repeat-x #FFF; border: 1px solid #CCC; }
.posts-default img		{ float: left; background: #111; }
.posts-default .entry-title	{ font-weight: bold; font-size: 12px; margin: 5px; line-height: 1.3em; }
.posts-default .entry-title a:link, .posts-default .entry-title a:visited	{ color: #0052A3; text-decoration: none; }
.posts-default .entry-thumbnails-link { margin-left: 5px; }
.posts-default .entry-summary, .posts-quick .entry-summary	{ color: #111; overflow: hidden; margin: 0 5px 10px; }
.posts-default .entry-summary	{ font-size: 11px; }
.no-js .posts-default .entry-summary	{ height: 58px; }

.entry-thumbnails	{ clear: both; display: inline-block; }
.entry-thumbnails:hover	{ border-color: #383332; }
.entry-thumbnails-link { float: left; background: #111; display: block; text-decoration: none !important; }

.posts-quick			{ margin: 0 10px 10px 0; padding: 10px; background: url(../../images/content-bg.jpg) repeat-x #FFF; border: 1px solid #CCC; }
.posts-quick li			{ padding: 15px 10px 0 0; border-bottom: 1px solid #CCC; }
.posts-quick li:first-child	{ padding-top: 5px; }
.posts-quick .entry-title	{ font-weight: bold; font-size: 14px; margin: 0; line-height: 1.3em; }
.posts-quick .entry-title a:link, .posts-quick .entry-title a:visited	{ color: #0052A3; text-decoration: none; }
.posts-quick .entry-summary	{ font-size: 12px; line-height: 1.6em; margin-bottom: 15px; }
.posts-quick .quick-read-more	{ font-weight: bold; font-size: 12px; padding: 10px 0 0; margin: 0; }
.posts-quick .entry-thumbnails	{ float: left; margin: 3px 10px 10px 5px; border: 2px solid #CCC; }
.posts-quick .entry-thumbnails:hover	{ border-color: #383332; }
.posts-quick .entry-thumbnails-link	{ margin: 0; }
.posts-quick .entry-info { font-size: 11px; color: #666; border: none; margin: 0 0 5px; }
.posts-quick .entry-info abbr { padding: 0 4px 0 0; text-decoration: none; border: none; }
.posts-quick .entry-info span { padding: 0 4px; }
.posts-default .entry-meta, .posts-quick .entry-meta	{ color: #CCC; float: left; background: #000; height: 25px; display: block; margin: -25px 0 0; font-weight: 700; opacity: 0.7; }
.posts-default .entry-meta a:link, .posts-default .entry-meta a:visited, .posts-quick .entry-meta a:link, .posts-quick .entry-meta a:visited	{ color: #FFF; text-decoration: none; }
.posts-default .entry-comments, .posts-quick .entry-comments { float: right; margin: 5px 5px 0; background: url(../../images/comments.gif) no-repeat left center; padding: 0 0 0 12px; }
.posts-default .published { text-transform: uppercase; float: left; margin: 5px 5px 0; font-size: 10px; color: #999; border-bottom: none; }
.posts-line				{ background: #FFF; border: 1px solid #CCC; margin: 0 10px 10px 0; padding: 10px; line-height: 1.4em; }
.posts-line	li			{ padding: 7px 0; border-bottom: 1px solid #EEE; }
.posts-line .entry-cat	{ float: left; font-size: 11px; width: 100px; overflow: hidden; color: #848485; }
.posts-line .entry-title	{ float: left; font-size: 12px; margin: 0; max-width: 450px; line-height: 1.4em; }
.layout-3c-fixed .posts-line .entry-title, .layout-3c-r-fixed .posts-line .entry-title { max-width: 300px; }
.posts-line a:link, .posts-line a:visited	{ color: #373331; }
.posts-line .entry-comments	{ float: right; font-size: 11px; color: #848485; }

.navigation				{ margin: 10px 10px 0 0; }

.home-title				{ text-transform: uppercase; font-weight: bold; font-size: 11px; padding: 6px 10px;  background: url(../../images/feed-title-white.jpg) repeat-x #FFF; border: 1px solid #CCC; margin: 0 10px 10px 0; color: #333; }

/* single post */
.single .post, #main .single-post	{ background: url(../../images/content-bg.jpg) repeat-x top #FFF; border: 1px solid #CCC; margin: 0 10px 15px 0; padding: 0 15px; }
.single .post .entry-title, .single-post .entry-title	{ font-size: 22px; font-weight: bold; padding: 10px 0 0; margin: 10px 0; line-height: 1.3em; }
.single .post .entry-title a:link, .single .post .entry-title a:visited, .single-post .entry-title a:link, .single-post .entry-title a:visited	{ text-decoration: none; }
.single .post .entry-info, .single-post .entry-info	{ padding-bottom: 10px; margin-bottom: 10px; color: #848485; font-size: 11px; text-transform: uppercase; border-bottom: 1px dotted #CCC; }
.single .post .entry-info .published, .single-post .entry-info .published { border: none; }
.single .post .entry-cat, .single-post .entry-cat	{ display: block; color: #848485; margin: 5px 0 0; }
.single-post .entry-cat a:link, .single-post .entry-cat a:visited	{ color: #666; text-decoration: none; }
.single-post .entry-cat a:hover	{ color: #333; }
.single .post .entry-author, .single-post .entry-author { font-weight: 700; margin: 0; color: #848485; }
.single .post .entry-author address, .single-post .entry-author address	{ display: inline; font-style: normal; }
#main .single .post .tags, #main .single-post .tags { margin: 15px 0; padding: 15px 0 0; color: #848485; border-top: 1px dotted #CCC; }
#main .single .post .tags a, #main .single-post .tags a { padding: 0; }
#main .single .post .tags strong, #main .single-post .tags strong { text-transform: uppercase; font-size: 11px; }
.single .post .entry-photo, .single-post .entry-photo	{ overflow: hidden; }
.single .post .entry-photo img, .single-post .entry-photo img	{ margin: 10px 0; overflow: hidden; border: 1px solid #CCC; }

.entry-content, .entry-content	{ margin: 20px 0; font-size: 12px; line-height: 1.5em; }
.entry-content p, .entry-content p	{ }
.entry-content ul { padding: 0 1.2em 0.5em; }
.entry-content ol { padding: 0 1.5em 0.5em; }
.entry-content ul li, .entry-content ol li { margin: 0.5em 0; }
.entry-content blockquote { font-style: italic; }
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 { margin: 1.2em 0 0; }
.entry-content h3 { font-size: 16px; }
.entry-content form { margin: 1em 0; }

.post-edit-link:link, .post-edit-link:visited	{ text-decoration: none; padding: 0 0 0 14px; }

.page .entry-content	{ margin: 0 0 20px; }

.layout-3c-r-fixed .post .entry-photo, .layout-3c-r-fixed .single-post .entry-photo, .layout-3c-fixed .post .entry-photo, .layout-3c-fixed .single-post .entry-photo	{ width: 480px; }

.single-post-meta-field { background: #0052A3; display: block; border: 1px solid #1A8DFF; padding: 5px 10px; color: #FFF; font-weight: 700; }
.single-post-meta-value	{ border: 1px solid #CCC; padding: 5px 10px; background: #F0F0F0; display: block; }

.module-title, .feed-title	{ line-height: 1em; color: #333; font-size: 12px; font-weight: bold; margin: 0 10px 0 0; padding: 7px 10px; background: url(../../images/feed-title-white.jpg) repeat-x top #EFEFEF; border: 1px solid #CCC; display: block; }
.feed-title				{ border-bottom: none; }

.gallery				{ clear: both; margin: 10px 0; }
.gallery-item			{ float: left; margin-right: 10px; }

.about-author			{ border: 1px solid #CCC; padding: 10px 15px; margin: 0 0 10px; line-height: 1.5em; background: #FFF; font-size: 11px; }
.about-author h4		{ font-size: 10px; margin: 0 0 10px; text-transform: uppercase; color: #333; font-weight: bold; }
.about-author img		{ float: left; margin: 0 10px 10px 0; border: 1px solid #CCC; padding: 0; }

/* gd star rating */
.gdmultitable			{ margin: 0 0 10px !important; }
.gdmultitable td		{ padding: 5px !important; }


/* wp125 */
#wp125adwrap_2c			{ width: 270px !important; display: inline-block; padding: 8px 0 2px 8px; margin: 0 auto !important; }
#wp125adwrap_2c .wp125ad{ padding: 0 !important; margin: 0 10px 10px 0 !important; }
#wp125adwrap_2c:after	{ clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden; }
html[xmlns] #wp125adwrap_2c	{ display: block; }
* html #wp125adwrap_2c	{ height: 1%; }


/* search results */
.search-results h2      { color: #333; font-size: 12px; font-weight: bold; margin: 0 10px 0 0; padding: 6px 10px; background: url(../../images/feed-title-white.jpg) repeat-x top #EFEFEF; border: 1px solid #CCC; }
.search-results-content { border: solid #CCC; border-width: 0 1px 1px; background: #FFF; margin: 0 10px 10px 0; padding: 10px; }
.search-results-content .searchform, .sidebar .searchform { padding: 5px 4px; border: 4px solid #CCC; background: #EFEFEF; width: 250px; }

/* footer */
#footer				{ margin: 20px auto 0; width: 960px; background: #FFF; padding-bottom: 10px; border: 1px solid #CCC; }
#footer .widgetcontainer	{ padding: 5px 10px; min-width: 150px; }
.no-js #footer .widgetcontainer { height: 190px; }
#footer .widgettitle	{ background: none; border: none; font-size: 11px; color: #444; padding: 0 0 10px; text-transform: uppercase; }
#footer .widgetcontent	{ font-size: 11px; background: none; padding: 0; border: none; }
#footer .footer-message	{ margin: 0; padding: 10px 15px 0; font-size: 11px; }
#footer .footer-message p { margin: 0 0 0.5em; }
#footer .footer-message .floatright { margin-left: 20px; }
#footer-sidebar		{ overflow: hidden; margin: 10px 10px 0; padding: 0 0 10px; border-bottom: 1px solid #CCC; }
#footer-sidebar .widgetcontainer	{ float: left; margin: 0; max-width: 250px; }
#footer-sidebar ul	{ list-style: none; margin: 0; padding: 0; }
#footer-sidebar li	{ margin: 0 0 3px; }

