.tab {padding:0px; margin:0px;}
.tab ul.tabs{padding: 0px;margin: 0px;border-bottom: 1px solid #bbb;}
.tab ul.tabs li{list-style: none;margin: 0px;display: inline;padding:0px;line-height:26px;}
.tab ul.tabs a{padding: 5px 15px;margin: 0px 0px 0px 0px;border: 1px solid #bbb;border-bottom: none;text-decoration: none;font-weight:bold;}

.tab ul.tabs a:link{color: #667;}
.tab ul.tabs a:visited{color: #667;}
.tab ul.tabs a:hover{color: #000;background: #f8f8f8;border-color: #000;}
.tab ul.tabs a.active{border-bottom: 1px solid #f7f6f0;color:#000}
.tab div.view{border-left: 1px solid #bbb;border-right: 1px solid #bbb;border-bottom: 1px solid #bbb;padding: 8px;margin: 0px;}

.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }
